html {
  scroll-behavior: smooth;
}

.hero-image {
  width: 100vw;
  height: 600px;
}

/* ヘッダー */
.header {
  display: flex;
  align-items: center;
}

.nav-link {
  display: flex;
  position: absolute;
  right: 200px;
  font-size: small;
}
.nav-link li {
  margin: 8px;
}

.header-logo {
  font-weight: bold;
  background-color: #393d48;
  color: white;
  margin: 4px 200px;
  padding: 4px 12px;
}

/* メインコンテンツ */
.main {
  width: 100vw;
  padding: 0 4%;
}

.section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

h3 {
  margin-top: 60px;
}

.section-title {
  font-size: 24px;
  font-weight: bold;
  border-bottom: solid 2px #878787;
  padding: 0 2px 3px;
}

h6 {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 8px;
}

.about-image {
  border-radius: 50%;
  width: 100px;
  margin-right: 20px;
}
.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 0 30px;
}
article {
  display: flex;
  flex-direction: column;
  text-align: start;
}

/* bicycle-content */
.bicycle-content {
  display: flex;
  justify-content: center;
  margin-bottom: 36px;
}

.bicycle-image {
  width: 200px;
  margin: 60px 8px 0;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

article h6 {
  margin: 20px 0 8px;
}

/* フッター */
.footer {
  display: flex;
  justify-content: center;
  margin: 8px 0;
}

/* レスポンシブ */
@media (max-width: 600px) {
  .bicycle-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .header-logo {
    margin: 4px;
  }
  .nav-link {
    right: 4px;
  }
}
